<%="#{flash[:password_fail]}" if flash[:password_fail]%>

<form action="/user/new" method="post">
  <label for="username">
    Fill in your username:<br><br>
    <input type="text" name="username">
  </label>
  <br><br>
  <label for="email">
    Fill in your email:<br><br>
    <input name='email' type='text' value='<%= @user.email %>'>
  </label>
  <br><br>
  <label for="password">
    Create a password:<br><br>
    <input type="text" name="password" type='password'>
  </label>
  <label for="password_confirmation">
    Confirm your password:<br><br>
    <input type="text" name="password_confirmation" type='password'>
  </label>
  <input type="submit" value="Create account">
</form>
