<form action="/user/new" method="post">
  <label for="username">
    Fill in your username:<br><br>
    <input type="text" name="username">
  </label>
  <br><br>
  <label for="email">
    Fill in your email:<br><br>
    <input type="text" name="email">
  </label>
  <br><br>
  <label for="password">
    Create a password:<br><br>
    <input type="text" name="password">
  </label>
  <input type="submit" value="Create account">
</form>
